<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>nhóm</title>
  <link rel="icon" type="image/x-icon" href="https://yogisanonymous.com/assets/img/logo-yogis-anonymous-bottom.png">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<div id="wrapper">
  <header>
    <div class="inner-header container">
      <a href="" id="logo">
        <img class="imglogo" src="https://yogisanonymous.com/assets/img/yogisanonymous.png" alt="">
      </a>
      <nav>
        <ul id="main-menu">
          <li><a href="https://yogisanonymous.com/discover">New Classes</a></li>
          <li><a href="https://yogisanonymous.com/teachers">Teachers</a></li>
          <li><a href="https://yogisanonymous.com/shop">Shop</a></li>
          <li><a href="https://yogisanonymous.com/shop#loginBox">Log In</a></li>
          <li><a href="https://yogisanonymous.com/shop#signupBox">Sign Up</a></li>
        </ul>

      </nav>
      <div class="form-search">
        <input type="text" class="keyword" placeholder="Seach.."/>
        <button type="submit" class="btn-search">
        <i class="fa-solid fa-magnifying-glass"></i>
          <span class="ion-ios-search"></span>
        </button>
      </div>
    </div>
  </header>
  <div id="banner">
<img id="tenta" src="assets/pngtree-color-silhouette-aerobics-training-competition-poster-background-material-picture-image_1130476.jpg" alt="">
  </div>
  <div id="content" class="container">
    <h1 style="padding: 30px 0">Page</h1>
    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>

    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>
    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>

    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>
    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>

    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>
    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>

    <p>Đội ngũ Alias chuyên support IT cho  các bạn ở đại học FPT Hà Nội - Ngoài ra còn support IT cho các bạn ở đại học Quốc Gia và Bách Khoa...
      Channel hướng dẫn các bạn lập trình C, C#, C++, Java, Java desk, Java Web, jsp - servlet, web service, asp.net đồng thời hướng dẫn các bạn các thủ thuật hữu ích giúp cuộc sống đơn giản và dễ dàng hơn.
      Nếu nhạc nền bị gặp vấn đề bản quyền. Mong các bạn gửi mail tới trinhthehoan989@gmail.com. Mình sẽ trả lời lại trong vòng 2h ạ.</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(document).ready(function() {
    $(window).scroll(function() {
      if ($(this).scrollTop()) {
        $('header').addClass('sticky');
      }
      else {
        $('header').removeClass('sticky');
      }
    });
  });
</script>
</body>
</html>
<!--<router-outlet></router-outlet>-->
